{% extends 'base.html.twig' %}

{% block title %}PFEController!{% endblock %}

{% block body %}

<div >
    <h2>
        Title:
        {{ pfe.title}}
    </h2>
    <h2>
        Student:
        {{ pfe.student}}
    </h2>
    <h2>
        Entreprise:
        {{ pfe.entreprise}}
    </h2>
</div>
{% endblock %}
